<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram Clone / Login Page</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/fontawesome-free-6.5.1-web/fontawesome-free-6.5.1-web/css/all.css">
    <style>
        body{
            background-color: white;
        }
    </style>
</head>
<body>
    <div class="all-body">
        <main>
            <div class="container">
                <div class="login">
                    <div class="left-login">
                        <img src="../static/img/Screenshot 2023-12-13 100342.png" alt="insta-clone">
                    </div>
                    <div class="right-login">
                        <div class="card">
                            <form action="#">
                                <h1>InstaClone</h1>
                                <div>
                                    <input type="text" class="form-control" placeholder="Phone number, username, or email">
                                </div>
                                <div>
                                    <input type="password" class="form-control" placeholder="Password">
                                </div>
                                <button class="btn-login btn-primary">Log in</button>
                            </form>
                            <span class="line"></span>
                            <h3>OR</h3>
                            <a href="#">
                                <i class="fa-brands fa-square-facebook"></i>
                                Log in with Facebook</a>
                            <a href="#">Forgot password?</a>
                        </div>
                        <div class="card">
                            <div>
                                Don't have an account? <a href="#">Sign up</a>
                            </div>
                        </div>
                        <div class="content-google-play">
                            <p>Get the app</p>
                            <div class="buttom">
                                <a href="#">
                                    <img src="https://static.cdninstagram.com/rsrc.php/v3/yz/r/c5Rp7Ym-Klz.png" alt="#">
                                </a>
                                <a href="#">
                                    <img src="https://static.cdninstagram.com/rsrc.php/v3/yu/r/EHY6QnZYdNX.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            this is just for portofolio, I try to clone desaign from instagram. <br>
            create this code by dhanar rizky
        </footer>
    </div>
</body>
</html>