<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram Clone / Login Page</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/fontawesome-free-6.5.1-web/fontawesome-free-6.5.1-web/css/all.css">
</head>
<body>
    <div class="all-body dark-mode">
        <div class="d-flex">
            <nav>
                <div>
                    <div class="logo">
                        <div class="logo-2">
                            <h1 id="logo2">
                               CI 
                            </h1>
                        </div>
                        <h1 id="logo">InstaClone</h1>
                    </div>
                    <ul>
                        <li class="nav-item">
                            <i class="fa-solid fa-house"></i>
                            <a href="#">Home</a>
                        </li>
                        <li class="nav-item" id="search">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <a href="#">Search</a>
                        </li>
                        <li class="nav-item">
                            <i class="fa-solid fa-compass"></i>
                            <a href="#">Explore</a>
                        </li>
                        <li class="nav-item">
                            <i class="fa-solid fa-table-cells"></i>
                            <a href="#">Reels</a>
                        </li>
                        <li class="nav-item">
                            <i class="fa-solid fa-comment-dots"></i>
                            <a href="#">Messages</a>
                        </li>
                        <li class="nav-item" id="notif">
                            <i class="fa-regular fa-heart"></i>
                            <a href="#">Notifications</a>
                        </li>
                        <li class="nav-item">
                            <i class="fa-regular fa-square-plus"></i>
                            <a href="#">Create</a>
                        </li>
                        <li class="nav-item">
                            <i class="fa-solid fa-user"></i>
                            <a href="#">Profile</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li class="nav-item">
                            <i class="fa-solid fa-bars"></i>
                            <a href="#">More</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="search-place hidden" id="searchplace">
                <div class="search">
                    <h1>Search</h1>
                    <div class="row">
                        <form action="#">
                            <input type="text" placeholder="Your Comment...">
                            <a href="#" type="submit" class="searching">
                                <i class="fa-solid fa-search"></i>
                            </a>
                        </form>
                    </div>
                    <div class="row">
                        <div class="prifle-card">
                            <img src="../static/img/profile/artworks-fK4mJbrz2tVrzVMf-2K3n3w-t500x500.jpg"
                                 alt="profile-pic" class="img-circle">
                            <div>
                                <h5>Pembawa_Tawa</h5>
                                <span>
                                    dhanar rizky krisnadhy
                                </span>
                            </div>
                            <a href="#">Switch</a>
                        </div>
                        <h4>Suggested for you 
                            <a href="#">See All</a>
                        </h4>
                        <div class="prifle-card">
                            <img src="../static/img/profile/artworks-fK4mJbrz2tVrzVMf-2K3n3w-t500x500.jpg"
                                 alt="profile-pic" class="img-circle">
                            <div>
                                <h5>Pembawa_Tawa</h5>
                                <span>
                                    dhanar rizky krisnadhy
                                </span>
                            </div>
                            <a href="#">Fllow</a>
                        </div>
                        <div class="prifle-card">
                            <img src="../static/img/profile/artworks-fK4mJbrz2tVrzVMf-2K3n3w-t500x500.jpg"
                                 alt="profile-pic" class="img-circle">
                            <div>
                                <h5>Pembawa_Tawa</h5>
                                <span>
                                    dhanar rizky krisnadhy
                                </span>
                            </div>
                            <a href="#">Fllow</a>
                        </div>
                        <div class="prifle-card">
                            <img src="../static/img/profile/artworks-fK4mJbrz2tVrzVMf-2K3n3w-t500x500.jpg"
                                 alt="profile-pic" class="img-circle">
                            <div>
                                <h5>Pembawa_Tawa</h5>
                                <span>
                                    dhanar rizky krisnadhy
                                </span>
                            </div>
                            <a href="#">Fllow</a>
                        </div>
                        <div class="prifle-card">
                            <img src="../static/img/profile/artworks-fK4mJbrz2tVrzVMf-2K3n3w-t500x500.jpg"
                                 alt="profile-pic" class="img-circle">
                            <div>
                                <h5>Pembawa_Tawa</h5>
                                <span>
                                    dhanar rizky krisnadhy
                                </span>
                            </div>
                            <a href="#">Fllow</a>
                        </div>
                        <div class="prifle-card">
                            <img src="../static/img/profile/artworks-fK4mJbrz2tVrzVMf-2K3n3w-t500x500.jpg"
                                 alt="profile-pic" class="img-circle">
                            <div>
                                <h5>Pembawa_Tawa</h5>
                                <span>
                                    dhanar rizky krisnadhy
                                </span>
                            </div>
                            <a href="#">Fllow</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="search-place hidden" id="notifplace">
                <div class="search">
                    <h1>Notifications</h1>
                    <div class="row">
                        <div class="prifle-card">
                            <img src="../static/img/profile/artworks-fK4mJbrz2tVrzVMf-2K3n3w-t500x500.jpg"
                                 alt="profile-pic" class="img-circle">
                            <div>
                                <h5>Pembawa_Tawa</h5>
                                <span>
                                    dhanar rizky krisnadhy
                                </span>
                            </div>
                            <a href="#">Switch</a>
                        </div>
                        <h4>Suggested for you 
                            <a href="#">See All</a>
                        </h4>
                        <div class="prifle-card">
                            <img src="../static/img/profile/artworks-fK4mJbrz2tVrzVMf-2K3n3w-t500x500.jpg"
                                 alt="profile-pic" class="img-circle">
                            <div>
                                <h5>Pembawa_Tawa</h5>
                                <span>
                                    dhanar rizky krisnadhy
                                </span>
                            </div>
                            <a href="#">Fllow</a>
                        </div>
                        <div class="prifle-card">
                            <img src="../static/img/profile/artworks-fK4mJbrz2tVrzVMf-2K3n3w-t500x500.jpg"
                                 alt="profile-pic" class="img-circle">
                            <div>
                                <h5>Pembawa_Tawa</h5>
                                <span>
                                    dhanar rizky krisnadhy
                                </span>
                            </div>
                            <a href="#">Fllow</a>
                        </div>
                        <div class="prifle-card">
                            <img src="../static/img/profile/artworks-fK4mJbrz2tVrzVMf-2K3n3w-t500x500.jpg"
                                 alt="profile-pic" class="img-circle">
                            <div>
                                <h5>Pembawa_Tawa</h5>
                                <span>
                                    dhanar rizky krisnadhy
                                </span>
                            </div>
                            <a href="#">Fllow</a>
                        </div>
                        <div class="prifle-card">
                            <img src="../static/img/profile/artworks-fK4mJbrz2tVrzVMf-2K3n3w-t500x500.jpg"
                                 alt="profile-pic" class="img-circle">
                            <div>
                                <h5>Pembawa_Tawa</h5>
                                <span>
                                    dhanar rizky krisnadhy
                                </span>
                            </div>
                            <a href="#">Fllow</a>
                        </div>
                        <div class="prifle-card">
                            <img src="../static/img/profile/artworks-fK4mJbrz2tVrzVMf-2K3n3w-t500x500.jpg"
                                 alt="profile-pic" class="img-circle">
                            <div>
                                <h5>Pembawa_Tawa</h5>
                                <span>
                                    dhanar rizky krisnadhy
                                </span>
                            </div>
                            <a href="#">Fllow</a>
                        </div>
                    </div>
                </div>
            </div>
            <main>
                <!-- <div class="container"> -->
                    <div class="home-page">
                        <div class="message-left"></div>
                        <div class="message-right"></div>
                    </div>
                <!-- </div> -->
            </main>
        </div>
    </div>
    <script src="../static/js/script2.js"></script>
</body>
</html>